name: Projeto_ThomasJoca

on:
    push:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Setup Java
              uses: actions/setup-java@v3
              with:
                distribution: 'temurin'
                java-version: '17'
            - name: Build project
              run: mvn clean install -DskipTests
            - name: Login Docker Hub
              run: docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}
            - name: Build docker image
              run: docker build -t eopivas/deploy_render .
            - name: Push image docker
              run: docker push eopivas/deploy_render
    deploy:
      needs: build
      runs-on: self-hosted
      steps:
        - name: Pull image from docker hub
          run: docker pull eopivas/deploy_render
        - name: Remove docker container
          run: docker rm -f pivas
        - name: Run docker container
          run: docker run -d -p 25000:25000 -e DATABASE_USERNAME=${{secrets.DATABASE_USERNAME}} -e DATABASE_PASSWORD='${{secrets.DATABASE_PASSWORD}}' -e DATABASE_URL=${{secrets.DATABASE_URL}} --name pivas eopivas/deploy_render

